<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Todo App in Vue">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henno Fourie">

    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="app">
            <h1 class="">My Todo List</h1>
            <div class="card">
                <div class="d-sm-flex">
                    <input type="date" v-model="newDate" />
                    <input v-model="newItem" @keyup.enter="addItem" placeholder="Add new todo" />
                    <button @click="addItem" :disabled="newItem.length === 0">Add</button>
                </div>
                <div class="d-sm-flex">
                    <button @click="sortDate">Sort By Date</button>
                    <button @click="sortAlpha">Sort A-Z</button>
                    <button @click="sortPriority">Sort By Importance</button>
                    <button id="clear" @click="clearAll">Clear</button>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <h2>Todo</h2>
                    <ul class="list">
                        <li class="d-flex list-item" :class="{completed: item.completed}" v-for="item in reversedTodos">
                            <div class="list-item-toggle" @click="toggleCompleted(item)"></div>
                            <div class="date" type="date" contenteditable="true"
                                v-on:keydown.enter="updateDate($event, list)" v-on:blur="updateDate($event,list)">{{
                                item.date }}</div>
                            <div>&nbsp</div>
                            <div class="title" contenteditable="true" @click="updateTodo(item)" v-on:blur="editTodo($event)">{{ item.name }}</div>
                            <div class="ml-auto p-2">
                                <select is="category-select" v-model="item.category" :disabled="item.completed">
                                </select>
                                <select is="priority-select" :class="['colored-bg-select']" v-model="item.priority"
                                    :disabled="item.completed">
                                </select>
                            </div>
                            <div class="list-item-delete" @click="removeItem(item)">X</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="info">
        <p>Click to edit a todo</p>
    </footer>

    <script src="https://unpkg.com/vue"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="scripts/scripts.js"></script>
</body>

</html>