<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Todo App in Vue">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henno Fourie">

    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div class="container">
        <div id="app">
            <h1 class="">My Todo List</h1>
            <div class="card">
                <div class="flex">
                    <input type="date" v-model="newDate"/>
                    <input v-model="newItem" @keyup.enter="addItem" placeholder="Add new todo" />
                    <button @click="addItem" :disabled="newItem.length === 0">Add</button>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <h2>Todo</h2>
                    <ul class="list">
                        <li class="list-item" :class="{completed: item.completed}" v-for="item in reversedItems">
                            <div class="list-item-toggle" @click="toggleCompleted(item)"></div>
                            <span>{{ item.date }} &nbsp</span>
                            <span>{{ item.name }}</span>
                            <div class="list-item-delete" @click="removeItem(item)">X</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>

    <script>
        new Vue({
            el: '#app',
            data: {
                newItem: '',
                items: [
                    {
                        id: 1,
                        name: 'Example 1',
                        date: '2021-03-01',
                        priority: true,
                        completed: false,
                    },
                    {
                        id: 2,
                        name: 'Example 2',
                        date: '2021-04-15',
                        priority: false,
                        completed: true,
                    },
                ],
            },
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                },
            },
            methods: {
                addItem: function () {
                    this.items.push({
                        id: this.items.length + 1,
                        name: this.newItem,
                        date: this.newDate,
                        priority: false,
                        // Category: ['Work','Study','Personal'],
                        completed: false,
                    });
                    this.newItem = '';
                    this.newDate = '';
                },
                toggleCompleted: function (item) {
                    item.completed = !item.completed;
                },
                changePriority: function (item) {
                    item.priority = !item.priority;
                },
                removeItem: function (item) {
                    this.items = this.items.filter((newItem) => newItem.name !== item.name);
                },
            },
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="scripts/scripts.js"></script>
</body>

</html>